input{
    margin-bottom: .3rem;
    padding: .3rem .6rem;
    border-radius: 5px;
    border: 0px;
    font-size: .85rem;
}

input:focus{
    outline: 2px solid gray;
}

input[type ='submit']{
    padding: .6rem;
    cursor: pointer;
    transition: .3s all ease;
}

input[type ='submit']:hover{
    background-color: aliceblue;
}
