@import url('colors.css');

nav{
    min-width: 100vw;
    width: 100%;
    background-color: var(--main);
    padding: 1rem 2rem;
    color: white;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li{
    margin: .3rem;
    cursor: pointer;
    transition: .3s all ease;
}

nav ul li:hover{
    color: #656;
    
}