table{
    /* border-collapse: collapse; */
    height: 1px;
    table-layout: fixed;
}

table tr td, th{
    border: 1px solid black;
    padding: .3rem;
    width: 8rem;
    text-align: center;
}

.month-row{
    text-align: center;
    font-weight: bold;
}

.options-cell{
    width: fit-content;
}

.input-cell{
    padding: 0;
    max-width: 8rem;
}

input[type=number]{
    -moz-appearance: textfield;
}

.input-cell input{
    width: 100%;
    height: 100%;
    background-color: #767;
    border: 0;
    margin: 0;
}

.input-cell input:focus{
    outline: 0;
}
