@import url('colors.css');

.posts-container{
    width: 100%;
    text-align: center;
}

.posts-top-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 1rem;
}

.options-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-container div{
    margin-left: 1rem;
    background-color: var(--highlight);
    border-radius: 5px;
    padding: .5rem 1rem;
    width: fit-content;
    user-select: none;
    transition: .3s background ease;
}

.year-select-container:hover .year-select, .recalculate-btn:hover{
    background-color: var(--secondary);
    outline: 3px solid var(--main);
    outline-offset: -1px;
}

.year-select{
    background-color: var(--highlight);
    border: 0;
    border-radius: 5px;
    padding: .3rem;
    margin-left: .3rem;
    transition: .3s background ease;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
    padding: 1rem;
    margin: 0 auto;
}

table tr td, th{
    padding: .3rem;
    width: fit-content;
    text-align: center;
}

table tr{
    border-bottom: 1px solid black;
}

table td:nth-child(even){
    background-color: var(--highlight);
}

table thead th{
    background-color: var(--highlight);
    /* border: 1px solid black; */
}

.month-row-editing td{
    /* border: 1px solid black; */
}

.month-cell{
    text-align: center;
    font-weight: bold;
    user-select: none;
}

.month-cell:hover{
    background-color: var(--secondary);
}

.disabled-cell{
    background-color: var(--main) !important;
}

.input-cell{
    background-color: var(--secondary) !important;
}

.input-cell input{
    width: 100%;
    background-color: var(--secondary);
    border: 0;
    border-bottom: 1px solid black;
}

.input-cell input:focus{
    outline: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.options-cell{
    background-color: var(--secondary) !important;
}

.options-cell:hover{
    background-color: var(--main);
    outline: 3px solid var(--main);
    outline-offset: -1.5px;
}


.sum-row-bottom{
    border-bottom: 3px dashed black;
}