.posts-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.posts-top-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 1rem;
}

.year-select-container{
    background-color: #878;
    width: fit-content;
    padding: .5rem;
    border-radius: 5px;
}

.year-select-container:hover .year-select{
    background-color: #767;
}

.year-select{
    background-color: #878;
    border: 0;
    border-radius: 5px;
    padding: .3rem;
    margin-left: .3rem;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
}

table tr td, th{
    border-bottom: 1px solid black;
    padding: .3rem;
    width: 8rem;
    text-align: center;
}

table td:nth-child(even){
    background-color: #767;
}

table thead th{
    background-color: #767;
    border: 1px solid black;
}

.month-row-editing{
    border: 1px solid black;
}

.month-row-editing td{
    border: 1px solid black;
}

.month-cell{
    text-align: center;
    font-weight: bold;
    user-select: none;
}

.month-cell:hover{
    background-color: #878;
}

.input-cell input{
    width: 100%;
    background-color: #656;
    border: 0;
}

.input-cell:nth-child(odd){
    background-color: #767;
}
.input-cell:nth-child(even){
    background-color: #656;
}

.input-cell:nth-child(odd) input{
    background-color: #767;
}

.input-cell input:focus{
    outline: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.options:hover{
    background-color: #878;
}

